@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?93k6n4');
  src:  url('fonts/icomoon.eot?93k6n4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?93k6n4') format('truetype'),
    url('fonts/icomoon.woff?93k6n4') format('woff'),
    url('fonts/icomoon.svg?93k6n4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e901";
}
.icon-whatsapp:before {
  content: "\e900";
}
.icon-health:before {
  content: "\e904";
}
.icon-tool:before {
  content: "\e902";
}
.icon-office:before {
  content: "\e903";
}
.icon-home:before {
  content: "\e905";
}
.icon-heart:before {
  content: "\e906";
}

body
{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

figure
{
  margin: 0;
}

.icon-facebook
{
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  transition: 1s;
}

.icon-whatsapp
{
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  transition: 1s;
}
.mediaContainer {
  position: fixed;
  top: 25vh;
  right: 0;
  z-index: 1;
}

.facebookButton
{
  background: #3B5998;
  width: 3em;
  height: 3em;
  display: block;
  line-height: 3em;
  text-align: center;


}

.facebookButton:hover {
  width: 5em;
}

.whatsappButton 
{
  background: #24CD63;
  width: 3em;
  height: 3em;
  display: block;
  line-height: 3em;
  text-align: center;
  position: fixed;
  right: 0;
  z-index: 1;
}

.whatsappButton:hover {
  width: 5em;
}

header
{
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
  background: #0B409C;
}

.container.header
{
  display: grid;
  grid-template: 70px / 2fr 1fr;
}

.header figure
{
  margin: auto 0 auto 1em;
}

.header figure img
{
  width: 120px;
  margin: auto 0 auto 1em;
}

.header nav
{
  margin-right: 1em;
  height: 70px;
}

ol
{
  list-style: none;
  margin: 0;
}

.header nav ol
{
  display: flex;
  height: inherit;
  justify-content: flex-end;
}

.header nav ol li
{
  margin-left: .8em;
  height: inherit;
}

.header a
{
  display: flex;
  align-items: center;
  height: inherit;
}

.link
{
  color: white;
  text-decoration: none;
}

.container.hero
{
  height: 300px;
/*   display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template: 300px / 1fr 1fr;
}

.hero figure
{
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

.hero figure img 
{
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
}

.hero-details
{
  display: grid;
  grid-template-rows: 50% 50%;
}

.hero-copy
{
  display: flex;
  flex-wrap: wrap;
  padding-left: .5em;
}

h1
{
  color: #0B409C;
  margin-right: 1em;
  font-size: 2em;
  display: block;
  width: 100%;
}

.hero-copy img {
  width: 10%;
}

.hero-icon
{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-left: .5em;
/*   grid-template: 50px / repeat(5, 100px);
  grid-column-gap: .5em; */
}

.hero-icon span
{
  padding: .5em;
  width: 15%;
  height: 50%;
  background-color: #0B409C;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 1%;
  margin-right: 0;
  cursor: pointer;
}
.hero-icon :first-child {
  margin-left: 0;
}
.icon-tool
{
  color: white;
  font-size: 2.5em;
}

.icon-heart
{
  color: white;
  font-size: 2.5em;
}

.icon-health
{
  color: white;
  font-size: 2.5em;
}

.icon-home
{
  color: white;
  font-size: 2.5em;
}

.icon-office
{
  color: white;
  font-size: 2.5em;
}

.hero-icon p
{
  color: white;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  margin: 0;
}

.portfolio-start 
{
  color: #0B409C;
  text-transform: uppercase;
  margin-top: 0;
  margin-left: .5em;
}

.portfolio
{
  padding: 1em;
  margin-top: 1em;
}

.container.portfolio
{
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  grid-gap: .5em .5em;
}

.portfolio-item
{
  position: relative;
  cursor: pointer;
  display: block;
  width: 100%;
}
.portfolio-imageWrapper img
{
  width: 100%;
  vertical-align: top;
}

.portfolio-title
{
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-title h2
{
  color: white;
  font-weight: bold;
  font-size: 2.4em;
/*   transition: 1s; */
}


.portfolio-details
{
  position: absolute;
  top: 0;
  display: none;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5em;
}

.portfolio-details h2
{
  color: white;
  margin: 0 0 .8em;
  font-size: 2.4em;
}

.portfolio-description
{
  color: white;
  font-size: 1.1em;
  margin-top: 0;
}

.portfolio-item:hover .portfolio-details
{
  display: block;
  background-color: rgba(11, 64, 156, .4);
}

.portfolio-item:hover .portfolio-title
{
  display: none;
  /* transform: translateY(-2em); */
}

.we
{
  background: #E6E6E6;
}

.container.we
{
  display: grid;
  grid-template-columns: [inicio]60% [weEnd] 40%;
  grid-template-rows: 1fr 1fr;
}

.we-are
{
  background: #E6E6E6;
  grid-column: inicio / weEnd;
  grid-row: 1 / 3;
  padding: .7em;
}

h3
{
  margin: 0;
}

.we-mision
{
  background: #0C45A8;
  grid-column: weEnd / 3;
  grid-row: 1 / 2;
  padding: .7em;
  color: white;
}

.we-vision
{
  background: #FFE867;
  grid-column: weEnd / 3;
  grid-row: 2 / 3;
  padding: .7em;
  color: #0C45A8;
}

.footer 
{
  background: #0B409C;
}

.container.footer
{
  display: grid;
  grid-template: auto / auto;
  background: #0B409C;
  color: white;
  padding: 1em;
}

h4
{
  text-transform: uppercase;
  margin-top: 0;
}

.footer p
{
  font-size: .8em;
}

.contact-city
{
  background-image: url('images/here.svg');
  background-repeat: no-repeat;
  background-size: .8em;
  padding-left: 1.5em;
}

.contact-phone
{
  background-image: url('images/whatsapp.svg');
  background-repeat: no-repeat;
  background-size: 1em;
  background-position-y: .1em;
  padding-left: 1.5em;
}

.contact-email
{
  background-image: url('images/email.svg');
  background-repeat: no-repeat;
  background-size: 1em;
  background-position-y: .3em;
  padding-left: 1.5em;
}

.container
{
  max-width: 1000px;
  display: inherit;
  margin: 0 auto;
}

.footer-amg 
{
  display: inherit;
  grid-template: auto / 1fr 1fr;
}

.footer-amg img 
{
  margin: 0;
  width: 100px;
}

.footer-collaborator 
{
  height: auto;
  display: grid;
  grid-template: auto/ 1fr 1fr;
  grid-template-areas: "title"
                       "images";
  border-bottom: 1px solid rgba(6, 38, 92, .4);
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.collaborator-title 
{
  grid-area: title;
}

.collaborator-images 
{
  grid-area: images;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.collaborator-image 
{
  width: 50px;
  margin: .5em .5em;
}

@media screen and (max-width: 1024px) {
  .hero-copy h1 {
    margin: .5em 1em .5em 0;
  }
  .hero-icon {
    font-size: 14px;
  }
  .hero-icon:nth-of-type(2) p {
    margin: 0 .5em;
  }
}

@media screen and (max-width: 768px) {
  .mediaContainer {
    top: 30vh;
  }
  .icon-facebook {
    font-size: .8em;
  }
  .icon-whatsapp {
    font-size: .8em;
  }
  .container.hero {
    font-size: 15px;
    position: relative;
    grid-template-columns: 1fr;
  }
  .hero-details {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .hero-copy h1 {
    margin: 0;
    font-size: 2.4em;
    text-align: center;
  }
  .hero-copy img {
    width: 7%;
    margin: 0 auto;
  }
.hero-icon {
  /* align-items: flex-start; */
  padding-left: 0;
  margin: 0;
  justify-content: center;
}
.hero-icon:nth-of-type(2) p {
  margin: 0 .8em;
}
.portfolio-start {
  font-size: 1.3em;
  margin-left: 0;
}
.container.portfolio {
  padding: 0;
}
.portfolio-item {
  font-size: 12px;
}

.portfolio-title h2 {
  font-size: 1.5em;
}
.container.we {
  font-size: 14px;
}
.container.footer {
  padding-top: 0;
}
.footer p {
  margin: .5em 0;
}
}
@media screen and (max-width: 480px) {
  .mediaContainer {
    top: 35vh;
  }
  .header figure img{
    margin-left: 0;
  }
  .header nav ol {
    padding-left: 0;
  }
  .container.portfolio {
    grid-template: repeat(6, auto) / 1fr;
  }
  .portfolio {
    padding-top: 0;
  }
  .portfolio-title h2 {
    font-size: 2em;
  }
  .container.we {
    grid-template: auto auto auto / 1fr;
    grid
  }
  .we-are {
    grid-row: 1 / 2;
  }
  .we-mision {
    grid-row: 2 / 3;
  }
  .we-vision {
    grid-row: 3 / 4;
  }
  .footer-amg {
    grid-template-columns: 1fr 2fr;
  }
  .footer-amg img {
    width: 80px;
  }
  .footer-amg p {
    font-size: .7em;
  }
}

@media screen and (max-width: 360px) {
  .portfolio-details h2 {
    margin-bottom: .4em;
    font-size: 1.9em;
  }
  .portfolio-details {
    padding: 1em;
  }
  .footer-collaborator {
    grid-template: auto auto / 1fr;
    grid-template-areas: "collaborators"
                         "recognition";
  }
  .footer-collaborator:first-child {
/*     grid-area: collaborators; */
  }
}
